<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1 data-controller="typed"></h1>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>

<div class="container">
  <div class="text-center">
    <button type="button" class="btn btn-primary"><i class="fa-solid fa-house"></i> Home</button>
    </div>
  </div>
  <%= simple_form_for Post.new do |f| %>
    <%= f.input :title %>
    <%= f.input :content %>
    <%= f.submit "Submit", class: "btn btn-primary", disable_with: 'Submiting...' %>
  <% end %>
  <div>
    <p>Mussum Ipsum, cacilds vidis litro abertis. Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl.Mais vale um bebadis conhecidiss, que um alcoolatra anonimis.Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.Sapien in monti palavris qui num significa nadis i pareci latim.

      A ordem dos tratores não altera o pão duris.Praesent malesuada urna nisi, quis volutpat erat hendrerit non. Nam vulputate dapibus.Delegadis gente finis, bibendum egestas augue arcu ut est.Quem manda na minha terra sou euzis!

      Sapien in monti palavris qui num significa nadis i pareci latim.Nullam volutpat risus nec leo commodo, ut interdum diam laoreet. Sed non consequat odio.Quem manda na minha terra sou euzis!Não sou faixa preta cumpadi, sou preto inteiris, inteiris.

      Pra lá , depois divoltis porris, paradis.Detraxit consequat et quo num tendi nada.Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis!Não sou faixa preta cumpadi, sou preto inteiris, inteiris.
    </p>

    <p>Mussum Ipsum, cacilds vidis litro abertis. Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl.Mais vale um bebadis conhecidiss, que um alcoolatra anonimis.Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.Sapien in monti palavris qui num significa nadis i pareci latim.

      A ordem dos tratores não altera o pão duris.Praesent malesuada urna nisi, quis volutpat erat hendrerit non. Nam vulputate dapibus.Delegadis gente finis, bibendum egestas augue arcu ut est.Quem manda na minha terra sou euzis!

      Sapien in monti palavris qui num significa nadis i pareci latim.Nullam volutpat risus nec leo commodo, ut interdum diam laoreet. Sed non consequat odio.Quem manda na minha terra sou euzis!Não sou faixa preta cumpadi, sou preto inteiris, inteiris.

      Pra lá , depois divoltis porris, paradis.Detraxit consequat et quo num tendi nada.Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis!Não sou faixa preta cumpadi, sou preto inteiris, inteiris.
    </p>

    <p>Mussum Ipsum, cacilds vidis litro abertis. Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl.Mais vale um bebadis conhecidiss, que um alcoolatra anonimis.Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.Sapien in monti palavris qui num significa nadis i pareci latim.

      A ordem dos tratores não altera o pão duris.Praesent malesuada urna nisi, quis volutpat erat hendrerit non. Nam vulputate dapibus.Delegadis gente finis, bibendum egestas augue arcu ut est.Quem manda na minha terra sou euzis!

      Sapien in monti palavris qui num significa nadis i pareci latim.Nullam volutpat risus nec leo commodo, ut interdum diam laoreet. Sed non consequat odio.Quem manda na minha terra sou euzis!Não sou faixa preta cumpadi, sou preto inteiris, inteiris.

      Pra lá , depois divoltis porris, paradis.Detraxit consequat et quo num tendi nada.Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis!Não sou faixa preta cumpadi, sou preto inteiris, inteiris.
    </p>

    <p>Mussum Ipsum, cacilds vidis litro abertis. Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl.Mais vale um bebadis conhecidiss, que um alcoolatra anonimis.Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.Sapien in monti palavris qui num significa nadis i pareci latim.

      A ordem dos tratores não altera o pão duris.Praesent malesuada urna nisi, quis volutpat erat hendrerit non. Nam vulputate dapibus.Delegadis gente finis, bibendum egestas augue arcu ut est.Quem manda na minha terra sou euzis!

      Sapien in monti palavris qui num significa nadis i pareci latim.Nullam volutpat risus nec leo commodo, ut interdum diam laoreet. Sed non consequat odio.Quem manda na minha terra sou euzis!Não sou faixa preta cumpadi, sou preto inteiris, inteiris.

      Pra lá , depois divoltis porris, paradis.Detraxit consequat et quo num tendi nada.Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis!Não sou faixa preta cumpadi, sou preto inteiris, inteiris.
    </p>
  </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
